@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i&display=swap');

/* Remove border around body */
body {
  margin: 0px;
  padding: 0px;
}

.carousel {
  background-color: #a60000;
  text-align: center;
}

/* Hide the images by default */
.slide {
  display: none;
}

.slide > a > img { 
  width: 100vw;
  margin: 0vw;
  vertical-align: bottom;

  /* Based on image size. */
  max-width: 800px; 
  /* I dislike hard-coding sizes like this but it 
  is the cleanest solution I have found so far. */
}

/* Next and prev arrow buttons */
.arrows {
  position: absolute;

  /* Based on image size. */
  width: 100vw;
  height: 75vw;
  max-height: 600px;

  /* Positioning arrows with Flexbox */
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.prev, .next {
  /* Interactivity */
  cursor: pointer;
  user-select: none;

  /* Button size / Space from side */
  padding: 15vw 5vw 15vw 5vw;

  /* Appearance */
  font-weight: bold;
  font-size: 6vw;
  color: #ffffff;
}

/* Slide title text */
.slide_title {
  color: #ffffff;
  font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif; /* TODO Font needs to be worked out */
  font-size: 6vw;
  text-align: center;
  margin: 2vw;
}

/* Slide description text */
.slide_text {
  color: #ffffff;
  font-family: 'IM Fell Great Primer', serif; /* TODO Font needs to be worked out */
  font-size: 3vw;
  text-align: center;
  margin: 2vw;
}

/* Horizontal line */
hr {
  margin: 0;
  color: #ffffff;
}

/* The bars */
.bar {
  cursor: pointer;
  height: 1vw;
  width: 5vw;
  margin: 2vw 1vw;
  background-color: #cccccc;
  display: inline-block;
  vertical-align: bottom;
  transition: background-color 0.5s ease;
}

/* Change colour when active */
.active{
  background-color: #ffffff;
}