/* TODO */
/* Remake everything */
/* Make item boxes also change based on size */

body {
    background-color: #15171C;
}

h1 {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

#main {
    margin: 30pt;
    /* flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-items: space-around;
}

.item {
    text-decoration: none;
    background-color: #3A3B42;
    flex: none;
    position: relative;
}

.item:hover {
    background-color: #4f5057;
}

.item_name {
    font-family: sans-serif;
    color: #26BCAE;
    text-align: left;
}

.item_description {
    font-family: sans-serif;
    font-style: italic;
    color: #ffffff;
    text-align: right;
    position: absolute;
    bottom: 6pt;
    right: 0;
}

/* Phones */
@media only screen and (min-width: 300px) {
    h1 {
        font-size: 10vw;
    }

    .item {
        width: 240pt;
        height: 120pt;
        margin: 10pt;
        position: relative;
    }

    .item_name {
        margin: 10pt;
        font-size: 24pt;
    }

    .item_description {
        margin: 10pt;
        font-size: 12pt;
    }
}

/* Monitors */
@media only screen and (min-width: 800px) {
    h1 {
        font-size: 60pt;
    }

    .item {
        width: 220pt;
        height: 140pt;
        margin: 20pt;
    }

    .item_name {
        margin: 16pt;
        font-size: 28pt;
    }

    .item_description {
        margin: 10pt;
        font-size: 12pt;
    }
}
