body {
    background-color: #15171C;
}

#top {
    /* text */
    color: #ffffff;
    font-family: sans-serif;
    font-size: 8vw;
    /* position */
    text-align: center;
    margin-top: 10%;
}

#main {
    /* flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-items: space-around;
}

.item {
    /* text */
    text-decoration: none;
    font-family: sans-serif;
    background-color: #3A3B42;
    /* pos and size */
    width: 180pt;
    height: 160pt;
    margin: 20pt;
    /* flex */
    flex: none;
}

.item:hover {
    background-color: #46474e;
}

.item_name {
    /* text */
    color: #26BCAE;
    font-size: 24pt;
    /* position */
    text-align: left;
    margin: 10pt;
}

.item_description {
    /* text */
    color: #ffffff;
    font-size: 12pt;
    /* position */
    text-align: right;
    margin: 10pt;
}